$maxwidth: 600px; /* maximum width fot the viewport */
$width: 200px; /* width for the specific paragraph */

@mixin font-width($maxwidth,$width) {
  @media (max-width: $maxwidth) {
    width:$width;
   @content;
  }
}

@media (max-width: $maxwidth) {
  p {
    width: $width; 
  }
body {
  background-color: lightblue;
}
   }

   .p1 {
    @include font-width(600px, 200px)
   }


.p2 {
  @include font-width(600px, 200px) {
  }
}

@mixin new-layout {
  font-size: 10px;
  margin: 0;
}

.design {
  background-color: black;
  @include new-layout;
}


