$text-color: blue;
$size: 2rem;
$primary-color: green;
$secondary-color: lightblue;
$font-weights: (
  "regular": 400, 
  "medium": 500,
  "bold": 700
);

$accent: yellow;
$strong-color: red;
$normalsize: 2rem;

$mycolors: (
  "first-color": green,
  "second-color": black,
  "third-color": gray
);

$hide-text: -10000px;