/*

1. counter-reset: mycounter 1;
2. counter-increment: mycounter -2; or Decrement
3. content: counter(mycounter);

@for loop with ::-webkit-search-results-button

@for $row from 1 to 10  {
  @warn $row;
}

Exercise: 
(1) write a counter and use it with a warning.
@warn

(2)Use a for loop to change the content of 10 css paragraphs 
<p></p>
so the results looks like: 

1
2
3
...
10

*/
body {
  counter-reset: heading-counter 0;
  counter-reset: section-counter 0;
}

article {

  counter-increment: arcticle; 
  counter-reset: section-counter 0;

h1::before {
  
  content: counter(heading-counter) ". ";
}

& section {
  & h1 {
    
  }
}

}






