@use 'sass:math';

@function pxToem($pixel){
  @return math.div($pixel, 16)+em;
}

@function body-theme($bgcolor){
  @if $bgcolor == "light" {
    @return black; 
  }
  @else if $bgcolor == "neutral" {
    @return blue;
  }
  @else {
    @return white;
  }

}

body {
  font-weight: 700-200;
  width: math.div(8, 2);
  font-size: pxToem(30);
  color: body-theme(neutral);
}




