

@import "mixins";


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

$font1: 'Indie Flower';
$font2: Arial;
$font3: 'Orbitron';



body {
  background-image: linear-gradient( to top, blue,  black, red, yellow, green);
  color: white;
}

.font1 {
  font-family: $font1;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   @include fontContainer;
}

.font2 {
  font-family: $font2;
  @include fontContainer;
}

.font3 {
  font-family: $font3;
   @include fontContainer;
}


.container {
  border: 3px solid;
  font-size: 2rem;
  #{&}__para1 {       /* #{&} gör att child blir nested i container classen. Det kan man se i CSS */
    color: red;
    font-size: 4rem;
  }
  &__para2--green {
    color: green;
  }
}

