
$darkColor1: purple;
$darkColor2: rgb(90, 2, 149);
$darkColor3: blue;
$lightColor1: rgb(183, 216, 227);
$lightColor2: white;
$lightColor3: yellow;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vw;
  max-height: 100vw;
  margin-left: 25%;
  margin-right: 25%;
}

@mixin mainGrid {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 3fr 2fr;
  height: 1300px;
}


@mixin headerFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


header {
  height: 70px;
  nav {
    ul {
      @include headerFlex; 
      width: 100%;
      height: 70px;
      background-color: $darkColor2;
      list-style-type: none;
      
      a:link, a:visited {
        text-decoration: none;
        color: $lightColor2;
        padding: 8px 8px 8px 8px;
      }

      a:hover {
        background-color: $lightColor3;
        color: $darkColor2;

      }
    }  
  }
}
  
.container {
  @include mainGrid;
  margin-top: 15px;
  color: $lightColor2;

  .box2 {
   grid-column: 1 / span 3;
  }

  .box1 {
   grid-column: 1 / span 2;
   grid-row: 2 / 3;
   background-color: $darkColor3;

  figure:first-child {
    padding: 8px 8px 8px 8px;
  }
}
    
  .box3 {
    grid-row: 2 / span 2;
    background-color: $lightColor1;
    padding: 8px 8px 8px 8px;

    .p1::first-letter {
      font-size: 3rem;
      color:yellow; 
     }
    
  }

  .box4 {
    grid-row-start: 3;
    display: flex;
    justify-content: flex-start;
    background-color: $lightColor1;
    padding: 8px 8px 8px 8px;

    p:first-child {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      font-size: 20px; 
    }
  }

  .box5 {
    grid-row-start: 3;
    background-color: $darkColor1;

    figure:nth-child(1) {
      padding: 8px 8px 8px 8px; 
    }

    figure:last-child {
        padding: 8px 8px 8px 8px; 
    }

  }
}

footer {
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 80px;
  background-color: $darkColor2;
  color: $lightColor2;
  margin-bottom: 0;
}