
/* Nicolas Carrasco FED23S Inlämningsuppgift 2 */

@use 'sass:math';

@function pxTorem($pixel) {
  @return math.div($pixel, 16)+rem;
}

$colors: (
"darkColor1": purple,
"darkColor2": rgb(90, 2, 149),
"darkColor3": blue,
"lightColor1": rgb(183, 216, 227),
"lightColor2": white,
"lightColor3": yellow,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body { 
  margin: auto;
  max-width: 120vw;
  max-width: 80vh;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin mainGrid {
  display: grid;
  grid-gap: pxTorem(15);
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}

@mixin headerFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@mixin figure-padding-fontSize {
  font-size: pxTorem(18);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

@mixin head-foot-width {
  height: pxTorem(70);
  width: 100%;
}

header {
  @include head-foot-width;
  nav {
    ul {
      @include headerFlex; 
      @include head-foot-width;
      background-color: map-get($colors, "darkColor2");
      list-style-type: none;
      
      a:link, a:visited {
        text-decoration: none;
        color: map-get($colors, "lightColor2");
        @include figure-padding-fontSize;
      }

      a:hover {
        background-color: map-get($colors, "lightColor3");
        color: map-get($colors, "darkColor2");
      }
    }  
  }
}
  
.container {
  @include mainGrid;
  margin-top: pxTorem(10);
  color: map-get($colors, "lightColor2");

  .box:nth-child(2) {
   grid-column: 1 / span 3;
  }

  .box:nth-child(1) {
   grid-column: 1 / span 2;
   grid-row: 2 / 3;
   background-color: map-get($colors, "darkColor3");

  figure:first-child {
    @include figure-padding-fontSize;
  }
}
    
  .box:nth-child(3) {
    grid-row: 2 / span 2;
    background-color: map-get($colors, "lightColor1");
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: pxTorem(200);

    .p1::first-letter {
      font-size: pxTorem(48);
      color: map-get($colors, "lightColor3"); 
     } 
  }

  .box:nth-child(4) {
    grid-row-start: 3;
    display: flex;
    justify-content: flex-start;
    background-color: map-get($colors, "lightColor1");
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;

    p:first-child {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      font-size: pxTorem(20); 
      width: pxTorem(80);
    }
  }

  .box:nth-child(5) {
    grid-row-start: 3;
    background-color: map-get($colors, "darkColor1");

    figure:nth-child(1) {
      @include figure-padding-fontSize;
        
    }

    figure:last-child {
      @include figure-padding-fontSize;
    }
  }
}

footer {
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  @include figure-padding-fontSize;
  @include head-foot-width;
  background-color: map-get($colors, "darkColor2");
  color: map-get($colors, "lightColor2");
}

@media (max-width: 600px) {
  .container {
    width: pxTorem(500);
  }
}

@media (max-width: 600px) {
  header {
    width: pxTorem(500);
  }
}

@media (max-width: 600px) {
  footer {
    width: pxTorem(500);
  }
}
                       